<h1>Signup</h1>
<form action="/signup" method="post">

  <label for="firstname">First name?</label>
  <input name="first_name" type="text"/>
  <br/>

  <label for="lastname">Last name?</label>
  <input name="last_name" type="text"/>
  <br/>

  <label for="birthdate">Date of birth?</label>
  <input name="birth_date" type="text"/>
  <br/>

  <label for="email">What's your email?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Choose a Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>